* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	list-style-type: none;
	text-decoration: none;
}

.container {
	width: 1140px; 
	margin: 0 auto; 
}

.card {
	width: 359px;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.text { 
	font-size: 16px; 
	line-height: 26px;
	color: #1F3F68;
}

.text_under {
	width: 425px;
}

.title {
	width: 510px;
	font-size: 64px; 
	color: #1F3F68;
}

.title_contacts {
	font-weight: 500; 
	font-size: 44px;
	text-align: center;
}

.title_DigitalEra {
	display: flex;
	justify-content: space-between;
}

.title_h3 {
	font-size: 36px; 
	text-align: center;
}

.footer_title_h3 {
	font-size: 36px; 
	text-align: center;
	width: 340px;
}

.title_h4 {
	font-size: 20px;
	line-height: 30px;
	color: #1F3F68;
}

.support {
	border: 1px solid #356EAD; 
	box-sizing: border-box; 
	border-radius: 10px; 
	opacity: 0.4;
}

.info {
	width: 495px;
}

.contacts {
	display: flex;
	justify-content: space-between;
}

.contactUs {
	display: flex;
	justify-content: space-around;
}

.map {
	width: 100%;
}

.button_form {
	background: #5A98D0; 
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2); 
	border-radius: 10px; 
	font-weight: 500; 
	font-size: 16px;
	line-height: 26px; 
	text-align: center; 
	color: #FFFFFF; 
	text-transform: uppercase;
}